body {
    background-color: rgb(236, 236, 236);
    background-color: rgb(255, 255, 165);
    justify-content: center;
    justify-items: center;
    width:960px;
    margin:auto;
    text-align: center;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

h1::first-letter{
    color:red;
}

h1{
    letter-spacing: 2px;
    font-weight: 20px;
}
